@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@openSans: 'Open Sans', sans-serif;
@green: #6FA912;

@import "mixins.less";
@import "normalize.min.less";
@import "simplegrid.less";
@import "home.less";

body {
	font-family: @openSans;
}

h1 {
	font-weight: 300;
}
h2 {
	font-weight: 400;
}
h1.foliotek {
	font-weight: 700;
	color: #222;
	font-size: 50px;
	text-transform: lowercase;
	letter-spacing: -1px;
	i {
		font-style: normal;
		color: rgba(87, 157, 236, 0.8);/*#649BD8;*/
		/*color: rgba(10,60,150, 0.8);*/
    	text-shadow: 1px 1px 2px #fff, 0 0 0 rgba(0, 0, 0, 0.7),1px 1px 2px #fff;
	}
}